<HTML>
<HEADER><TITLE>Terror Game</TITLE></HEADER>
<BODY>
Game
{% if tiles %}
        <p>
        {% for tile in tiles %}
		{% for t in tile %}
               		 {{ t }}
		{% endfor %}
	<br>
        {% endfor %}
        </p>
{% else %}
        <P>Error - no game map.</P>
{% endif %}
<FORM id="move_form" method="post" action="">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}

                {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text}}
                        {{ field }}
                {% endfor %}
                <INPUT type="submit" name="submit" value="submit" />
</FORM>
</BODY>
</HTML>
